
<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/typo.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <script>
      var imgdata = <%-JSON.stringify(imageData) %>
      var txtdata = <%-JSON.stringify(textData) %>
      var isDownloader = <%-JSON.stringify(isDownloader) %>
      var kinect = <%-JSON.stringify(kinect) %>
      var mitIntro = <%-JSON.stringify(mitIntro) %>
            var viewTitle = <%-JSON.stringify(title) %>
      var fullscreen = <%-JSON.stringify(fullscreen) %>

    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="innerTitle">
      <h2 style="margin-top: 10px"><span>Die</span>
      <!--<br/>Reiz<span>&#x2009;/&#x2009;</span>Flut-->
      </h2>
    </div>
  <% if(mitIntro){%>
    <div class="description-wrapper">
      <div class="description">
     <% include partials/introfelder %>

      </div>
    </div>
  <%}%>
    <!--<p id="clickInfo"></p>-->
    <div class="container">

      <div class="wrapper">
        <img class ="raster" src="images/raster2.png">
        <div class="circle"></div>
           <!--<div class="svg-container">
          <svg class="formlinie" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.26 339.2">
            <path class="cls-1" d="M489.76,2.5,93.66,160.07s-20.31-10.43-27.8.2-14,21.47-14,21.47S37.33,201.05,29,224.8,21.82,257,21.82,257A266.72,266.72,0,0,1,7.5,293.78c-9.66,20.39,12.55,35.56,7.15,41.54C-8.45,360.92-28.22,20.69,251.79,15.16"/>
          </svg>
        </div>
        <div class="svg-container">
          <svg class="formlinie" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 61 49.64">
            <path class="cls-1" d="M2.5,19.86c9-6,20.87-19.76,34-17,19,4,7.17,28.59,5,34-4,10-15,12-23,9s-21.84-23.32-6-34C30,.05,47.77,14.3,53.5,21.86c0,0,1,3,5,0"/>
          </svg>
        </div>-->

        <div class="svg-container">
          <svg class="formlinie" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 137.79 222.25">
          <path class="cls-1" d="M109.5,2.5s-1,35,0,41,8,24,8,24c4,8,0,8,0,8s-7,22,2,0,0-38,0-38l4-19,5,35,2,11s12,8-2,39-14,37-25,59-83,54-87,56-12,2-14-3"/>
          </svg>
        </div>
        <div class="svg-container">
          <svg class="formlinie" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 61 49.64">
            <path class="cls-1" d="M131.56,2.5c-45.78,15.69-77.89,52.3-82,94-.54,5.5-4.73,56.09,32,81,34.29,23.25,87.17,12.55,112-22,23.49-32.68,13.27-74.72-2-99-28.87-45.91-98.16-63.89-144-34-27,17.6-57.26,59.25-40,100,15,35.46,60,55.9,97,41,38.42-15.46,45.69-59.87,46-62"/>
          </svg>
        </div>
        <div class="svg-container">
          <svg class="formlinie" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 137.79 222.25">
          <path class="cls-1" d="M2.5,37.61s118.09,140.23,173,135c63-6-28.92-207.34-53-164-20,36,31,93,64,93,29,0,77-12,77-80"/>
          </svg>
        </div>
        <div class="svg-container">
          <svg class="formlinie" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 137.79 222.25">
          <path class="cls-1" d="M30.62,2.5c-6.51,15.82-69.25,174.74,17,289,13.21,17.49,33.87,39.19,66,58"/>
          </svg>
        </div>

        <span id ="speed-log" class="speedlog"></span>
        <p id="pMain" class="mainText style1"></p>
        <p id="pMain" class="mainText style1"></p>
        <img id="other-img" text-align="center" src="" alt="">
        <img id="curr-img" text-align="center" src="" alt="">
      </div>
    </div>
  </body>

  <footer>
  <% if(kinect){%>
      <script src="https://cdn.jsdelivr.net/gh/kinectron/kinectron@0.3.6/client/dist/kinectron-client.js"></script>
  <%}%>
    <script src="js/blurrycircles.js"></script>
    <script src="js/movement.js"></script>
    <script src="js/main.js"></script>
    <% if(mitIntro){%>
    <script src="js/intro.js"></script>
  <%}%>
  </footer>

</html>