<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>
    var imgdata = <%-JSON.stringify(imageData) %>
    var txtdata = <%-JSON.stringify(textData) %>
      var websites = <%-JSON.stringify(websites) %>
  </script>
</head>

<body>
  <div class="innerTitle">
  <h2 style="margin-top: 10px"><%= title %></h2>
  <p> Im Rausch der Daten — Der Flut an Reizen.</p><br>
  </div>
  <p id="clickInfo">Click to Start the Reizüberflutung!</br>Move Cursor to change speed.</p>
<div class="container">
  <div class="wrapper">
  <!-- <div class="textWrapper">-->
  <p id="pMain" class="mainText style1"></p>
  <!-- </div> -->
  
  
  <img id="curr-img" align="center"src="" alt="">
</div>
</div>
</body>

<footer>

  <script src="js/main.js"></script>
</footer>

</html>