<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/typo.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" type="image/png" href="../images/favicon.png">
  <script>
    var imgdata = <%-JSON.stringify(imageData) %>
    var txtdata = <%-JSON.stringify(textData) %>
      var isDownloader = <%-JSON.stringify(isDownloader) %>
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="innerTitle">
  <h2 style="margin-top: 10px"><span><%=title%> </span>
  <!--<br/>Reiz<span>&#x2009;/&#x2009;</span>Flut-->
  </h2>
  <p> Im Rausch der Daten — Der Flut an Reizen.</p><br>
  </div>
  <p id="clickInfo">Click to start!<br/>Die Bewegung der Maus<br/>bestimmt Inhalt und Form.</p>
<div class="container">
  <div class="wrapper">
  <img id ="raster" src="images/raster.png">
  <span id ="speed-log" class="speedlog"></span>
  <p id="pMain" class="mainText style1"></p>

  <img id="other-img" text-align="center" src="" alt="">
  <img id="curr-img" text-align="center" src="" alt="">
</div>
</div>
</body>

<footer>
  <script src="js/main.js"></script>

</footer>

</html>